.contenido{
    border-radius: 8px 8px 8px 8px;
    border-top: 4px solid  #0C0C64;
    border-bottom: 4px solid  #0C0C64;
    box-shadow: 0 0 10px #0C0C64;

}

.data{
    border-top: 4px solid  #a70404;
    border-bottom: 4px solid  #a70404;
    border-radius: 8px 8px 8px 8px;
    margin-left: 5%;
    margin-right: 5%;
}

img{
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 8px 8px;
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid #0C0C64;
    box-shadow: 0 0 5px #0C0C64;
    border-radius: 8px 8px 8px 8px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 5px;
}

input{
    border-radius: 12px 12px 12px 12px;
    border-bottom: 1px solid #0C0C64 ;
    width: 80%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.m{
    background-color: #0C0C64;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
    height: 50px;
}

.m:hover{
    background-color: #05053b;
}

.o{
    background-color: #a70404;
    color: white;
    border-radius: 8px 8px 8px 8px;
    border: none;
    height: 50px;
}

.o:hover{
    background-color: #6b0303;
}

.c{
    background-color: #7cda24;
    color: white;
    border-radius: 8px 8px 8px 8px;
    border: none;
    height: 50px;
    width: 80%;
}

.c:hover{
    background-color: #238f08;
}

.t{
    background-color: #0C0C64;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
    height: 50px;
}

.t:hover{
    background-color: #05053b;
}