.contenido{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 5px solid #0C0C64;
    border-bottom: 5px solid #0C0C64;
    border-radius: 10px 10px 10px 10px;
    padding: 3%;
}

.lista-prod{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 800px){
    .contenido{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}